body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}

.p-3 {
    padding: 1rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.rounded-circle {
    border-radius: 50%;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.font-weight-bold {
    font-weight: bold;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.align-items-end {
    align-items: end !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: end !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-6 {
    margin-top: 5rem !important;
}

.mb-6 {
    margin-bottom: 5rem !important;
}

.bsz-content-box {
    box-sizing: content-box !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.w-fit-content {
    width: fit-content !important;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 50%;
    height:170px;
    width:170px;
    object-fit: cover;
}

.user-img-empty {
    background-image: url("../images/default-user-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.form-control:focus {
    box-shadow: none;
    border-color: #333333
}

.ct-button {
    background: #2b1f18;
    box-shadow: none;
    border: none
}

.ct-button:hover {
    color: #695444;
    background: #cfcecc;
}

.ct-button:focus {
    box-shadow: none
}

.ct-button:active {
    color: #695444;
    background-color: #cfcecc;
    box-shadow: none
}

.ct-button2 {
    background: #fff;
    box-shadow: none;
    border: 1px #333 solid;
    color: #333;
}

.ct-button2:hover {
    color: #fff;
    background: #333;
    border: 1px #fff solid;
}

.ct-button2:focus {
    box-shadow: none;
}

.ct-button2:active {
    color: #fff;
    background: #333;
    border: 1px #fff solid;
}

.ct-button3 {
    background: #333;
    box-shadow: none;
    color: #fff !important;
    border: 1px #333 solid;
}

.ct-button3:hover {
    color: #333 !important;
    background: #fff;
    border: 1px solid #333;
}

.ct-button3:focus {
    box-shadow: none;
}

.ct-button3:active {
    color: #333 !important;
    background: #fff;
    border: 1px solid #333;
}

.ct-border-1 {
    border: 1px solid #999;
}

.labels {
    font-size: 13px
}

.ct-border {
    border: 1.5px solid #ccc;
}

.bg-img-empty {
    width: 150px;
    height: 150px;
    background-image: url("../images/empty.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
     .navbar-side {
         z-index: 1;
         position: absolute;
         width: 260px;
     }

     .navbar {
         border-radius: 0px;
     }
 }

ul.breadcrumb {
    list-style: none;
    background-color: #fff;
    padding: 0;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #ccc;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #797979;
}

ul.breadcrumb li a:hover {
    color: #333;
    border-bottom: 1px solid;
}

.panel-group {
    margin-bottom: 20px;
}

.filter-by-block h1 {
    color: #fff;
    width: 100%;
    font-size: 24px;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #695444;
    text-transform: uppercase;
}

.filter-by-block .panel-default {
    border: 1px solid #695444;
}

.filter-by-block .panel-title {
    overflow: hidden;
}

.filter-by-block .panel-group h2 {
    background-color: #cfcecc;
}

.filter-by-block .panel-group h2 a {
    color: #695444;
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #695444;
}

.filter-by-block .panel-group h2 a:hover {
    color: #333;
}

.filter-by-block .panel-body {
    padding: 15px 20px;
    border-top: none !important;
}

input[type="checkbox"] {
    line-height: normal;
    margin: 5px 0 0;
}

.checkbox-list {
    margin-bottom: 0;
}

.checkbox-list li:first-child {
    margin-top: 0;
}

.checkbox-list li {
    margin-top: 10px;
}

.checkbox-list .checkbox {
    display: block;
    overflow: hidden;
    position: relative;
    color: #666;
    margin: 4px 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    padding-left: 27px;
}

.checkbox-list .checkbox input {
    left: -9999px;
    position: absolute;
}

.checkbox-list .checkbox i {
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    outline: none;
    display: block;
    background: #fff;
    border-width: 2px;
    position: absolute;
    border-style: solid;
}

.checkbox-list .checkbox input + i:after {
    opacity: 0;
    position: absolute;
}

.checkbox-list .checkbox input + i:after {
    top: -3px;
    left: -2px;
    width: 15px;
    height: 15px;
    content: '\2713';
    text-align: center;
    font: normal 17px/17px FontAwesome;
}

.checkbox-list .checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox-list .checkbox i {
    border-color: #cfcecc;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.checkbox-list .checkbox:hover i {
    border-color: #695444;
}

.checkbox-list .checkbox input:focus + i {
    border-color: #695444;
}

.checkbox-list .checkbox input + i:after {
    color: #695444;
}
.checkbox-list .checkbox input:checked + i {
    border-color: #695444;
}

.checkbox-list .checkbox small {
    float: right;
}

.checkbox-list .checkbox small a {
    color: #695444;
    font-size: 12px;
}

.checkbox-list .checkbox small a:hover {
    color: #333;
}

#collapse-2 .panel-body input {
    color: #666;
    border: 1px solid #695444;
    margin-bottom: 10px;
}

.stars-ratings {
    float: left;
}

.stars-ratings li {
    padding: 0;
}

.stars-ratings input {
    left: -9999px;
    position: absolute;
}

.stars-ratings label {
    float: right;
    height: 17px;
    display: block;
    padding: 0 2px;
    font-size: 14px;
    cursor: pointer;
    line-height: 17px;
}

.stars-ratings label {
    color: #eee;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.stars-ratings input + label:hover,
.stars-ratings input + label:hover ~ label {
    color: #ffcc00;
}

.stars-ratings input:checked ~ label {
    color: #ffcc00;
}

.review-submit button.btn-u.pull-right {
    margin-top: -17px;
}

/*Stars Ratings Label*/
.stars-ratings-label label {
    font-size: 24px;
    margin: 0 4px 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*product*/
.block2 .block2-pic .product-img {
    height: 300px;
    object-fit: cover;
}

img.modal-product-image {
    height: 520px;
    object-fit: cover;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5rem;
    height: 3rem;
    color: #333;
}

.block2 .block2-txt .product-name {
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    line-height: 1.25rem;
    height: 2.5rem;
}

.product-price {
    color: #d71010;
}

.product-cost {
    color: #9e9e9e;
    text-decoration: line-through;
}

.block2 .block2-txt .product-cost {
    font-size: 12px;
}

.product-sale-off {
    color: rgba(238, 75, 43, 0.8);
}

.filter-button {
    background: #2b1f18;
    box-shadow: none;
    border: none
}

.filter-button:hover {
    color: #695444;
    background: #cfcecc;
}

.filter-button:focus {
    box-shadow: none
}

.filter-button:active {
    color: #695444;
    background-color: #cfcecc;
    box-shadow: none
}

ul.header-cart-wrapitem li {
    height: 86px;
    position: relative;
}

.btn-remove-item {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
}

.btn-remove-item:hover {
    opacity: 1;
}

.btn-remove-item i {
    font-size: 16px;
    color: #fff;
}

.wl_image,
.cart_image,
.header-cart-item-img {
    height: 100%;
    object-fit: cover;
}

.how-itemcart1 {
    height: 86px;
}

.header-cart-item-info.product-quantity,
.header-cart-item-info.product-sale-off {
    width: 100%;
    margin-right: 48px;
    text-align: end;
}

.header-cart-item-txt .header-cart-item-name {
    margin-right: 12px;
}

.font-size-15 {
    font-size: 15px !important;
}

.swal-footer {
    text-align: center;
}

.font-size-18 {
    font-size: 18px !important;
}

.product-detail-img {
    height: 640px;
    object-fit: cover;
}

.table-shopping-cart .table_row td {
    padding-bottom: 0;
}

.table-shopping-cart .column-1 {
    padding-left: 16px;
}

.table-shopping-cart .table_row td.column-1 {
    padding-bottom: 0;
}

.table-shopping-cart .column-5 {
    padding-right: 0;
}

.table-shopping-cart .table_head th:not(:first-child, .column-2),
.table-shopping-cart .table_row td:not(.column-2) {
    text-align: center;
}

.bor20 {
    border: 1px dashed #999;
}

.bor21 {
    border: double #999;
}

.text-start {
    text-align: start !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33% !important;
}

.w-75 {
    width: 75% !important;
}

.wsp-nowrap {
    white-space: nowrap !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.justify-content-spa {
    justify-content: space-around !important;
}

.glow-text {
    color: #333;
    text-shadow: 3px 0 7px rgba(192,192,192,0.8), -3px 0 7px rgba(192,192,192,0.8), 0 4px 7px rgba(192,192,192,0.8);
}

.bg-1 {
    background-color: rgba(255, 255, 255, 0.69);
}

.bg-2 {
    background-color: rgba(113, 127, 224, 0.69);
}

.p-16-38-34-16 {
    padding: 16px 38px 34px 16px;
}

.soft-emboss-1 {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 5px 6px rgba(0,0,0,0.2),
    0 -5px 35px rgba(255,255,255,0.3);
}

.w-60 {
    width: 60% !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.text-end {
    text-align: end !important;
}