body {
    height: auto;
    background-image: url("../images/bg-my-account.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.form-control:focus {
    box-shadow: none;
    border-color: #333333
}

.profile-button {
    background: #2b1f18;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    color: #695444;
    background: #cfcecc;
}

.profile-button:focus {
    box-shadow: none
}

.profile-button:active {
    color: #695444;
    background-color: #cfcecc;
    box-shadow: none
}

.labels {
    font-size: 13px
}

.user-img-empty {
    background-image: url("../images/default-user-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}