ul.breadcrumb {
    list-style: none;
    background-color: #fff;
    padding: 0;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #ccc;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #797979;
}

ul.breadcrumb li a:hover {
    color: #333;
    border-bottom: 1px solid;
}

.panel-group {
    margin-bottom: 20px;
}

.filter-by-block h1 {
    color: #fff;
    width: 100%;
    font-size: 24px;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #695444;
    text-transform: uppercase;
}

.filter-by-block .panel-default {
    border: 1px solid #695444;
}

.filter-by-block .panel-title {
    overflow: hidden;
}

.filter-by-block .panel-group h2 {
    background-color: #cfcecc;
}

.filter-by-block .panel-group h2 a {
    color: #695444;
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #695444;
}

.filter-by-block .panel-group h2 a:hover {
    color: #333;
}

.filter-by-block .panel-body {
    padding: 15px 20px;
    border-top: none !important;
}

input[type="checkbox"] {
    line-height: normal;
    margin: 5px 0 0;
}

.checkbox-list {
    margin-bottom: 0;
}

.checkbox-list li:first-child {
    margin-top: 0;
}

.checkbox-list li {
    margin-top: 10px;
}

.checkbox-list .checkbox {
    display: block;
    overflow: hidden;
    position: relative;
    color: #666;
    margin: 4px 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    padding-left: 27px;
}

.checkbox-list .checkbox input {
    left: -9999px;
    position: absolute;
}

.checkbox-list .checkbox i {
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    outline: none;
    display: block;
    background: #fff;
    border-width: 2px;
    position: absolute;
    border-style: solid;
}

.checkbox-list .checkbox input + i:after {
    opacity: 0;
    position: absolute;
}

.checkbox-list .checkbox input + i:after {
    top: -3px;
    left: -2px;
    width: 15px;
    height: 15px;
    content: '\2713';
    text-align: center;
    font: normal 17px/17px FontAwesome;
}

.checkbox-list .checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox-list .checkbox i {
    border-color: #cfcecc;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.checkbox-list .checkbox:hover i {
    border-color: #695444;
}

.checkbox-list .checkbox input:focus + i {
    border-color: #695444;
}

.checkbox-list .checkbox input + i:after {
    color: #695444;
}
.checkbox-list .checkbox input:checked + i {
    border-color: #695444;
}

.checkbox-list .checkbox small {
    float: right;
}

.checkbox-list .checkbox small a {
    color: #695444;
    font-size: 12px;
}

.checkbox-list .checkbox small a:hover {
    color: #333;
}

#collapse-2 .panel-body input {
    color: #666;
    border: 1px solid #695444;
    margin-bottom: 10px;
}

.stars-ratings {
    float: left;
}

.stars-ratings li {
    padding: 0;
}

.stars-ratings input {
    left: -9999px;
    position: absolute;
}

.stars-ratings label {
    float: right;
    height: 17px;
    display: block;
    padding: 0 2px;
    font-size: 14px;
    cursor: pointer;
    line-height: 17px;
}

.stars-ratings label {
    color: #eee;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.stars-ratings input + label:hover,
.stars-ratings input + label:hover ~ label {
    color: #ffcc00;
}

.stars-ratings input:checked ~ label {
    color: #ffcc00;
}

.review-submit button.btn-u.pull-right {
    margin-top: -17px;
}

/*Stars Ratings Label*/
.stars-ratings-label label {
    font-size: 24px;
    margin: 0 4px 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*product*/
.block2 .block2-pic .product-img {
    height: 300px;
    object-fit: cover;
}

img.modal-product-image {
    height: 520px;
    object-fit: cover;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5rem;
    height: 3rem;
    color: #333;
}

.block2 .block2-txt .product-name {
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    line-height: 1.25rem;
    height: 2.5rem;
}

.product-price {
    color: #EE4B2B;
}

.product-cost {
    color: #9e9e9e;
    text-decoration: line-through;
}

.block2 .block2-txt .product-cost {
    font-size: 12px;
}

.product-sale-off {
    color: rgba(238, 75, 43, 0.8);
}

.filter-button {
    background: #2b1f18;
    box-shadow: none;
    border: none
}

.filter-button:hover {
    color: #695444;
    background: #cfcecc;
}

.filter-button:focus {
    box-shadow: none
}

.filter-button:active {
    color: #695444;
    background-color: #cfcecc;
    box-shadow: none
}

ul.header-cart-wrapitem li {
    height: 86px;
    position: relative;
}

.btn-remove-item {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
}

.btn-remove-item:hover {
    opacity: 1;
}

.btn-remove-item i {
    font-size: 16px;
    color: #fff;
}

.wl_image,
.header-cart-item-img {
    height: 100%;
    object-fit: cover;
}

.header-cart-item-info.product-sale-off {
    width: 100%;
    margin-right: 48px;
    text-align: end;
}

.header-cart-item-txt .header-cart-item-name {
    margin-right: 12px;
}